.experience-grid-wrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-grid-wrapper .tabs {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.experience-grid-wrapper .tabs button {
  padding: 0.5rem 1rem;
  background-color: #35393e;
  color: #c7cdd4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.experience-grid-wrapper .tabs button.active {
  background-color: #43b581;
  color: white;
  font-weight: bold;
}

.exp-grid {
  display: grid;
  gap: 1rem;
}

.exp-card-wrapper {
  background: #35393e;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
  overflow: hidden;
}

.exp-card-wrapper:hover {
    border-color: #43b581;
}

.exp-card {
  background: transparent;
  border-radius: 0;
  padding: 1.25rem;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

.exp-card-content {
  background: #35393e;
  padding: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.exp-card-inner {
  padding: 0 1.25rem 1.25rem;
}

.exp-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  color: #c7cdd4;
}

.exp-card-header h4 {
  font-size: 1.25rem;
  margin: 0;
  color: #e3e5e8;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.period {
  font-style: italic;
  color: #c7cdd4;
  font-size: 0.9rem;
}

.org {
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #c7cdd4;
}

.exp-card-content ul {
  list-style-position: inside;
  padding-left: 0;
  color: #c7cdd4;
}

.exp-card-content ul li {
  margin-bottom: 0.5rem;
}

.exp-card-content ul li::marker {
  color: #43b581;
}

.kw {
  color: #43b581;
  font-style: italic;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.expanded {
  transform: rotate(180deg);
}

.exp-link {
    display: inline-block;
    margin-top: 1rem;
    color: #43B581;
    text-decoration: none;
    font-weight: bold;
}

.exp-link:hover {
    text-decoration: underline;
} 