---
layout: base.njk
title: Resume of Samih Qureshi
keywords: resume, cv, about, personal, profile, portfolio, samih
description: This is Samih's personal website.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Hi, I'm Samih! I'm a computer science student at Stanford who loves building innovative products that integrate software and hardware. I've worked on solo projects like oPen and the Trap Network System, which are patent-pending technologies that improve livestock management without relying on cellular or satellite networks.</p>
<p>I'm excited to connect with others in software engineering and data science to collaborate on projects that make a difference!</p>