---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ author.shortName }}",
  "icons": [
    {
      "src": "/assets/images/favicons/burger.png",
      "sizes": "1024x1006",
      "type": "image/png"
    }
  ],
  "theme_color": "{{ site.themeColor }}",
  "background_color": "{{ site.backgroundColor }}",
  "display": "standalone"
}
